*{
 //   margin: 0;
}

.formContainer{
    background-color: rgb(184, 184, 236);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper{
        background-color: white;
        padding: 20px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
form{
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin: 5px;
            gap: 15px;
        }
    }
}

.logo{
    color: rgb(128, 122, 166);}

input{
    padding: 15px;
    border: none;
    border-bottom: 1px solid rgb(128, 122, 166);
}


button{
    background-color: rgba(128, 122, 166, 0.528);
    color: white;
    height: 37px;
    border: none;

}

button:hover{
    color: black;
    cursor: pointer;
    font-weight: bold;
}

p{
    color: rgb(131, 131, 223);
    margin-top: 0px;
}

#upload:hover{
    cursor: pointer;
}

.avatar{
    width: 27px;
    align-items: center;
}
label{
    align-items: center;
    display: flex;
    font-size: 10px;
    color: rgb(131, 131, 223);
    cursor: pointer;
    
}